body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: preserve-3d;
    perspective: 200px;
    border: 2px solid #000;
    height: 40px;
    border-radius: 40px;
}

input[type="checkbox"] {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    pointer-events: none;
    color: #000;
    transform-style: preserve-3d;
}

span:nth-child(2) {
    left: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #0f0;
}

span:nth-child(2) {
    left: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #0f0;
}