body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: preserve-3d;
    perspective: 200px;
    border: 2px solid #000;
    height: 40px;
    border-radius: 40px;
}

input [type="checkbox"] {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 0;-webkit-appearance: none;
}